/* Basic Reset and Universal Styles */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url('images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.075em;
}

#intro h1 {
    font-size: 4rem;
}

#nav {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#nav ul li {
    margin: 0 15px;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    text-align: center;
}

#nav ul li a:hover,
#nav ul li.active a {
    background-color: #444;
}

#map {
    height: 400px;
    width: 80%;
    margin: 20px auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

/* Responsive Layout */
@media screen and (max-width: 980px) {
    #map {
        width: 100%;
    }
}
